services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        restart: unless-stopped
        working_dir: /var/www/
        volumes:
            - ./:/var/www
        depends_on:
            - redis
            - db
        networks:
            - laravel

    # nginx
    nginx:
        image: nginx:alpine
        restart: unless-stopped
        ports:
            - "8087:80"
        volumes:
            - ./:/var/www
            - ./docker/nginx/:/etc/nginx/conf.d/
        networks:
            - laravel

    # db postgresql
    db:
        image: postgres:latest
        restart: unless-stopped
        environment:
            POSTGRES_DB: ${DB_DATABASE:-laravel}
            POSTGRES_USER: ${DB_USERNAME:-username}
            POSTGRES_PASSWORD: ${DB_PASSWORD:-userpass}
        volumes:
            - ./.docker/postgresql/dbdata:/var/lib/postgresql/data
        ports:
            - "35432:5432"
        networks:
            - laravel

    soketi:
        image: quay.io/soketi/soketi
        environment:
            - SOKETI_APP_ID=13102005
            - SOKETI_APP_KEY=matheusthiago13
            - SOKETI_APP_SECRET=matheus13thiago13
            - SOKETI_REDIS_HOST=redis
            - SOKETI_REDIS_PORT=6379
            - SOKETI_PORT=6001
            - SOKETI_HTTP_PORT=9601
            - SOKETI_LOG_LEVEL=debug
        ports:
            - "6001:6001"
            - "9601:9601"
        networks:
            - laravel
        depends_on:
            - redis

    # PHPMyAdmin
    # phpmyadmin:
    #     image: phpmyadmin/phpmyadmin
    #     restart: unless-stopped
    #     ports:
    #         - "8080:80"
    #     environment:
    #         PMA_HOST: db
    #         PMA_PORT: 5432
    #         MYSQL_ROOT_PASSWORD: ${DB_PASSWORD:-root}
    #     networks:
    #         - laravel

    # redis
    redis:
        image: redis:latest
        networks:
            - laravel

networks:
    laravel:
        driver: bridge
